p {
    font-size: 16px;
    transition: font-size 2s ease 0.25s;
  }
  
  p:hover {
    font-size: 26px;
  }
  div {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: background-color 4s ease-out 1s;
  }
  
  div:hover {
    background-color: blue;
  }